
/* Balise <a> */

a {
    /* text-decoration:none !important; */
    text-decoration-color:white !important;
  }

.text-blue {
  color: #4b91e9
}

/* Fond des tuiles */

.back-tile{
    background-color: rgba(180,180,180,0.4) !important;
    border-radius:30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Les images */

.logo{
    width: 100px;
    height: auto;
    margin: 10px 10px 10px 10px;
    display :block;
    border-radius: 10%;
}


.body-bg {
    background-image: url("../img/bg.jpg"); /* The image used */
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
}

/* Le titre */

.h_header {
    text-shadow: #bbbbbb 1px 1px, #bbbbbb -1px 1px, #bbbbbb -1px -1px, #bbbbbb 1px -1px !important;
    font-size: 4rem;
}
